*{
    box-sizing: border-box;
}
:root{
    --white:#fff;
    --section:#f5f5f5;
    --blue:#0078ff;
    --dark:#1e1e1e;
    --semi-blaclk:#1c1c1c;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #343434;
    font-weight: 400;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.1) !important; 
}
.logo a{
    padding-top: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar ul li a{
    color: var(--white);
    font-size: 16px;
    font-weight: 100;
    padding-top: 30px;
    margin: 0 10px;
}

.navbar ul li a:hover{
    color:var(--white);
    text-decoration: underline;
}

.navbar-brand{
    color: var(--white);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
}
.navbar-brand:hover{
    color: var(--white);
}
.header{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    position: relative;
}
.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.me h2{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}
.me h1{
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 200;
    color: var(--white);
}
.me h1::after {
    content: '|';
    animation-name: typing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes typing{
    0%{
        content: '|';
    }
    2.6%{
        content: ' D|';
    }
    5.2%{
        content: ' De|';
    }
    7.8%{
        content: ' Dev|';
    }
    10.4%{
        content: ' Deve|';
    }
    13%{
        content: ' Devel|';
    }
    15.6%{
        content: ' Develo|';
    }
    18.2%{
        content: ' Develop|';
    }
    20.8%{
        content: ' Develope|';
    }
    27%{
        content: ' Developer|';
    }
    23.4%{
        content: ' Developer|';
    }
    26.2%{
        content: ' |';
    }
    28.8%{
        content: ' |';
    }
    31.4%{
        content: ' L|';
    }
    34%{
        content: ' La|';
    }
    36.6%{
        content: ' Lar|';
    }
    39.2%{
        content: ' Larr|';
    }
    41.8%{
        content: ' Larry|';
    }
    44.4%{
        content: ' Larry D|';
    }
    47%{
        content: ' Larry Da|';
    }
    49.6%{
        content: ' Larry Dan';
    }
    52.2%{
        content: ' Larry Dani';
    }
    54.8%{
        content: ' Larry Danie|';
    }
    57.4%{
        content: ' Larry Daniel|';
    }
    60%{
        content: ' Larry Daniel|';
    }
    62.6%{
        content: ' |';
    }
    65.2%{
        content: '|';
    }
    67.8%{
        content: ' D|';
    }
    70.4%{
        content: ' De|';
    }
    73%{
        content: ' Des|';
    }
    75.6%{
        content: ' Desi|';
    }
    78.2%{
        content: ' Desig|';
    }
    80%{
        content: '  Design|';
    }
    85%{
        content: ' Designe|';
    }
    90%{
        content: ' Designer|';
    }
    94%{
        content: ' Designer|';
    }
    98%{
        content: ' |';
    }
    100%{
        content: ' |';
    }
}

.me h1 span{
    font-weight: 100;
    font-family:'Courier New', Courier, monospace;
}
.icon-bak-round{
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.photo{
    position: relative;
}
.photo::after{
    content: '';
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    width: 70%;
    height: 90%;
    position: absolute;
    bottom:-10%;
    left: 0;
    z-index: -1;
}
.who-mai h2{
    font-weight: 800;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #343434;
}
.who-mai h5{
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px 0 20px;
    font-size: 15px;
}
.who-mai p{
    line-height: 1.6;
    margin: 0;
    color: #748182;
}
.base{
    width: 90%;
    height: 4%;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%) inset;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.color{
    height: 100%;
    background-color:var(--semi-blaclk);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.col1{
    width: 95%;
}
.col2{
    width: 80%;
}
.col3{
    width: 90%;
}
.sp-fot{
    font-size: 13px;
}
.submt{
    margin-top: 50px;
}
.submt a{
    text-decoration: none;
    border: 1px solid var(--semi-blaclk);
    padding: 10px 30px;
    border-radius: 5px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bttn1{
    background-color: var(--semi-blaclk);
    color: var(--white);
    transition: all .5s;
}
.bttn1:hover{
    background-color: var(--white);
    color:black;
}
.bttn2{
    color:black;
    transition: all .5s;
}
.bttn2:hover{
    background-color: var(--semi-blaclk);
    color: var(--white);
}
.services{
    background-color: var(--section);
}
.serv h3{
    font-weight: 900;
    font-size: 40px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    z-index: 4;
}
.serv h3::after{
    content: '';
    width: 30%;
    height: 30px;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 35%;
    z-index: -1;
}
.icon{
    width: 100px;
    height: 100px;
    color: black;
    background-color: var(--section);
    margin-bottom: 20px;
}
.web-serv{
    margin-top: 40px;
}
.web-serv:hover .icon, .web-serv:hover.icon i{
    background-color:black;
    color: #fff;
}
.web-serv h2{
    font-weight: 800;
    font-size: 18px;
    color: var(--semi-blaclk);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
}
.parent{
    padding: 40px 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -8px rgb(0 0 0 / 10%);
}
.parent p{
    word-spacing: 2px;
    font-size: 12px;
    color: #748182;
    line-height: 1.6;
    padding: 0 30px;
}
.nav-tabs .nav-link{
    color: #222;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
}
.nav-tabs .nav-link.active {
    text-decoration: underline;
    color: black;
    border: none;
}
.nav-tabs .nav-link:hover {
    border: none;
    border-color: transparent;
}

.product-img{
    position: relative;
    margin-bottom: 30px;
}
.product-layer{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(255, 255, 255, 0.95);
    transition: all .5s;
    opacity:0;
    overflow: hidden;
}
.product-img:hover .product-layer{
    opacity: 1;
} 
.product-layer h6{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.layer-back{
    width: 30px;
    height: 30px;
    color: var(--white);
    background-color:black;
    margin: 0 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}
.layer-back:hover{
    background-color: transparent;
    border: 1px solid #111;
    color: #111;
}
.tesrmoinal{
    background-color: var(--section);
    margin: 50px 0;
    padding: 50px 0;
}
.discrption p{
    line-height: 1.6;
    margin: 0;
    font-size: 18px;
    color: #748182;
    word-spacing: 2px;
    padding-left: 50px;
}
.discrption h6{
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 5px;
    font-family: 'Montserrat', sans-serif;
}
.discrption span{
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 30px;
}
.carousel-indicators [data-bs-target]
{
    text-indent: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #869791;;
}
.icon2{
    color:black; 
}
.experience{
    margin: 50px 0;
}
.parent2{
    margin: 50px 0;
    padding: 30px 0;
}
.parent2 h3{
    font-weight: 900;
    margin-bottom: 15px;
    margin-top: 20px;
}
.parent2 p{
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 15px;
    color: #748182;
}
.blogs{
    background-color: var(--section);
    margin: 50px 0;
    padding: 50px 0;
}
.blog{
    overflow:hidden;
}
.blog img{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.blog img:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
.program h6{
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 10px;
}
.program h4{
    font-weight: 800;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}
.program span {
    border-bottom: 2px solid #333;
}
.program span a{
    text-decoration: none;
    color: #333;
}
.btm{
    margin-bottom: 80px;
}
.contacts{
    margin: 50px 0;
    padding: 50px 0;
}
.tel-icon{
    width: 60px;
    height: 60px;
    background-color: var(--section);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.tel-icon:hover{
    color: var(--section);
    background-color: black;
}
.telphons h6{
font-weight: 700;
margin-bottom: 10px;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
line-height: 1.1;
}
.telphons p{
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}
.name input[type='text'],input[type='email'],textarea{
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}
textarea{
    height: 160px;
    max-height: 160px;
    max-width: 100%;
}
.form-sumt a{
    padding: 10px 40px;
    background: #1c1c1c;
    color: #eee;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    transition: all .5s;
    text-decoration: none;
}
.form-sumt a:hover{
    
    color:#1c1c1c ;
    background-color: var(--white);
}
footer{
    background-color: var(--semi-blaclk);
    text-align: center;
    padding: 50px 0 20px;
}
.copy-right p{
    font-size: 13px;
    word-spacing: 2px;
    line-height: 1.6;
    color: #748182;
}